body {
	background-color: white
}

h1 {
	color: blue;
	position: center;
}

h3 {
	font-size: 14px;
}

p {
	color: black;
	font-family: arial;
	
}

.impact {
	color: blue;
	font: impact;
	font-size: 18px;
}