body {
		font-family: 'Tienne', serif;
}

h1 {
	text-align: center;
	color: white;
	background: blue;
	font-weight: bold;
	font-size: 40px;
	font-family: 'Tenor Sans', sans-serif;
}

p {
	line-height: 1.8em;
}

ul {
	line-height: 1.8em;
	font-family: 'Tenor Sans', sans-serif;
}

#slogan {
	text-transform: normal;
	text-align: center;
	font-family: impact;
	font-size: 24px;
	font-weight: bold;
}

.sivatau {
	display: block;
	margin: 0px auto;
	height: 250px;
}

.logo {
	display:block;
	margin: 0px auto;
	width: 250px;
}

hr {
height: 1px;
color: black;
border
}

.contact {
	font-size: 11px;
}
