body {
		font-family: 'Tienne', serif;
		font-color: #333333;
}

h1 {
	text-align: center;
	color: white;
	background: rgb(0,30,130);
	font-weight: bold;
	font-size: 60px;
	font-family: impact;
	padding: 48px;
}

p {
	line-height: 1.8em;
	color: #333333;
}

ul {
	line-height: 1.8em;
}

#slogan {
	text-align: center;
	font-family: impact;
	font-size: 3em;
	font-weight: bold;
	color: #333333;
}

.sivatau {
	display: block;
	margin: 0px auto;
	height: 250px;
}

.logo {
	display:block;
	margin: 0px auto;
	width: 250px;
}

hr {
height: 1px;
color: black;
border
}

.contact {
	font-size: 11px;
}
