body {
	background-image: url("images/background.jpg");
	background-color: gray;
	color: white;
	font-family: helvetica;	
	font-size: 20px;
	vertical-align: middle;
	}

hr {
	width: 200px;
	color: orange;
	position: relative;
	left: 10px;
}
